@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


* {                                         /* the * is for the everything selector */
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    color: rgb(236, 57, 91)
}

.page-body {
    background-color: black;
}


html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;            /*space between the list*/
    color: white;
    text-decoration: none;
}

.nav a:hover{                 /* gives action to when you hover*/
    background-color: rgba(255, 255, 255, .3);           
}


.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
}

.main-nav li {
    padding: 0% 3%;
}


.main-header {
    background-color: rgb(58, 113, 134);
    padding-bottom: 20px;
}

.page-title {
    font-size: 2.5em;
    text-align: center;
    font-weight: normal;
    margin: 0;
    font-family: 'Lobster', cursive;
}



.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.home-title {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

span{
    opacity: 0;
    transition: all 0.6s ease;
    transform: translateY(-50px);
    transition-delay: 0.5s;
}

span.fade {
    opacity: 1;
    transform: translateY(0px);
}